<!DOCTYPE HTML>
<html>
   <head>
      <title>Impuesto</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   </head>

   <body>
      <h2>Impuesto</h2>
		<form th:action="@{/login}" method="post"> 

		<table border="0">
		<tr>
			<td style="width:10%;" align=center> IVA </th>
			<td style="width:10%;" align=center> % </th>
		</tr>
		</table>
			<p><input type="number" name="datoUno_IVA" id="datoUno_IVA"> + <input type="number" name="datoDos_IVA" id="datoDos_IVA"></p>
			
		<table border="0">
		<tr>
			<td style="width:32%;" align=center> Ingresos Brutos </th>
			<td style="width:33%;" align=center> % </th>
		</tr>
		</table>	
			<p><input type="number" name="datoUno_Bruto" id="datoUno_Bruto"> + <input type="number" name="datoDos_Bruto" id="datoDos_Bruto"></p>
			
			<p> <input type="submit" value="Calcular" a href="/calcular"> </p>

		</form:form> 
   </body>
</html>